{% extends "base.html" %}

{% block title %}
 Add user
{% endblock %}

{% block body %}
	<div class="row m-3">
		<div class="col-4"></div>
		<div class="col-4">
			<form class="form-signin" method="POST">
		        {% csrf_token %}
				{{ form.email.errors }}
				{{ form.full_name.errors }}

		      <input name="full_name" id="inputName" class="form-control" placeholder="Full name" required="" type="text" max="70"><br/>
		      <input name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email" max="254"><br/>
		      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
		        <span style="color: white; font-size: 15px; font-weight: bold; text-shadow: 2px 2px 5px red;">{{error}}</span>
		    </form>
		</div>
		<div class="col-4"></div>
	</div>
{% endblock %}
