{% extends "base.html" %}

{% block title %}
	Users list
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h1>Users</h1>
			{% if user_list %}
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Full Name</th>
				      <th scope="col">Email</th>
				    </tr>
				  </thead>
					<tbody>
						{% for user in user_list %}
						    <tr>
						      <th scope="row">{{ user.id }}</th>
						      <td>{{ user.full_name }}</td>
						      <td>{{ user.email }}</td>
						    </tr>
						{% empty %}
						    <li>No articles yet.</li>
						{% endfor %}
					</tbody>
				</table>

				{% if is_paginated %}
					<nav>
					  <ul class="pagination">
				        {% if page_obj.has_previous %}
					    	<li class="page-item"><a class="page-link" href="/list?page={{ page_obj.previous_page_number }}">Previous</a></li>
						{% endif %}
					    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
				        {% if page_obj.has_next %}
					    	<li class="page-item"><a class="page-link" href="/list?page={{ page_obj.next_page_number }}">Next</a></li>
						{% endif %}
					  </ul>
					</nav>
				{% endif %}

			{% else %}
				<div class="p-3 mb-2 bg-info text-white">No users!</div>
	    	{% endif %}
	
		</div>
		<div class="col-2"></div>
	</div>

{% endblock %}
